{% extends 'default.html' %}

{% load custom_filters %}
{% load custom_tags %}


{% block title %}
Posts.title|censor
{% endblock title %}

{% block content %}

<h1>Все новости: {{ posts|length }}</h1>
{% if is_not_authors %}
<button> <a href="upgrade/"> Стать автором!</a> </button>
{% endif %}
{% if is_not_subscribers %}
<button> <a href="{% url 'subscribe' category.id %}">Подписаться</a> </button>
{% endif %}
{% if not is_not_subscribers %}
<button> <a href="{% url 'unsubscribe' category.id %}">Отписаться</a> </button>
{% endif %}
    {% if category_posts_list %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td> Дата </td>
                <td> Текст </td>
                <td> Категории </td>
            </tr>

            {% for post in category_posts_list %}
            <tr>
                <td>{{ post.title|censor }}</td>
                <td>{{post.time_in|date:'M d Y'}}</td>
                <td>{{ post.text|truncatechars:20|censor }}</td>
                <td>
                {% for category in post.category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}

   {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}

